resources:
- name {{ env['name'] }}
  type: compute.v1.instanceGroupManager
  properties:
    #Reference to instancetemplate provided in yaml properties
    instanceTemplate $(ref.{{ properties['instanceTemplate'] }}.selfLink)
    zone: {{ properties['zone'] }}
    targetSize: {{ properties['targetSize'] }}
    #Configure auto healing for optimal uptime
    #autoHealingPolicies:
    #- healthCheck: $(ref.healthcheck_main.selfLink)
      #initialDelaySec: 120
  
