resources:
- name: {{ env['name'] }}
  description: Instance template for 
  type: compute.v1.instanceTemplate
  properties:
    properties:
      machineType: zones/{{ properties['zone'] }}/machineTypes/n2d-standard-64
      canIpForward: true
      properties:
        zone: {{ properties['zone'] }}
      disks:
      - deviceName: bootdrive
        type: PERSISTENT
        autoDelete: true
        initalizeParams:
          sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-minimal-1604-xenial-v20210330
        networkInterfaces:
        - network: global/networks/network_main
        tags:
          items: {{ properties["tags"] }}
         
